.App {
  text-align: center;
  height: 100vh;

}

h1 {
  color: grey;
  margin: 8px auto;
}

.app-icon {
  width: 28px;
  height: 28px;
  margin-left: 3px;
  vertical-align: bottom;
  transform: scaleX(-1);
  filter: invert(100%) brightness(80%) contrast(80%);
}


.track-add-remove {
  padding-left: 8%;
  text-align: left;
}

.track-add-remove button {
  font-size: 1.5rem;
}

.version {
  font-size: 0.5rem;
  color: rgb(181, 181, 255);
  position: absolute;
  left: 56%;
  top: 0px;
}