.button-container {
  margin: 20px;
}

.sample-btn {
  margin: 5px;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  background-color: rgba(83, 180, 253, 0.83);
  color: lightgray;
  border: none;
  cursor: grab;
}

