.button-container {
  margin: 0px;
  background-color: #333;
  padding: 40px;
  width: 80%;
  margin: auto;
}

.sample-btn {
  margin: 15px 10px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: rgba(83, 180, 253, 0.83);
  color: lightgray;
  border: none;
  cursor: grab;
}

