.track-sample-listing {
  position: absolute;
  bottom: 0px;
  color: white;
  width: 300px;
  font-size: x-small;
  text-align: left;
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid darkgray;
}


.track-status {
  color: #fff;
  display: block;
  text-align: left;
  width: 80%;
  margin: 10px auto 0px auto;
}

.track-status span {
  margin: 0 20px;
}

.RiveContainer {
  height: 50px;
  width: 50px;
  background-color: black;
  margin: auto;
  padding: 0;
}
