.drop-zone {
  width: 80%;
  height: 53px;
  margin: 0px auto;
  background-color: lightgray;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
}

/* Vertical lines within the drop-zone */
.drop-zone::before,
.drop-zone::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px; /* Line width */
  background-color: black;
}

.drop-zone::before {
  left: 25%; /* First line */
}

.drop-zone::after {
  left: 75%; /* Second line */
}

.drop-zone .middle-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: black;
}

.track {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 0;
}

.track-name {
  position: absolute;
  left: -80px;
  color: #fff;
}

.track-btn-wrapper {
  position: absolute;
}

.track-sample-btn {
  position: absolute;
  white-space: nowrap; /* Ensure text doesn't wrap */
  border-radius: 0;
  border: 0px;
  margin: 0px;
  background-color: rgba(83, 180, 253, 0.83);
  color: #000;
  top: 0px;
  left: 0;
  height: 53px;
  width: 100%;
  z-index: 11;
}

.remove-track-btn {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 15px; /* Make it a square */
  height: 15px;
  background-color: #333; /* Dark background for contrast */
  z-index: 13;
}

.remove-track-btn:after {
  position: absolute;
  top: 7px;
  left: 7%;
  transform: translate(-2px, -10px); /* Center the X */
  content: "\2716"; /* Unicode for the "X" symbol */
  font-size: 18px;
  color: #fff;
  line-height: 1; /* Ensures the X is perfectly centered */
  text-align: center;
}
