.drop-zone {
  width: 80%;
  height: 32px;
  margin: 0px auto;
  background-color: lightgray;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
}

/* Vertical lines within the drop-zone */
.drop-zone::before,
.drop-zone::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px; /* Line width */
  background-color: black;
}

.drop-zone::before {
  left: 25%; /* First line */
}

.drop-zone::after {
  left: 75%; /* Second line */
}

.drop-zone .middle-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: black;
}

.track {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 0;
}

.track-name {
  position: absolute;
  left: -60px;
  color: #fff;
}

.track-sample-btn {
  padding: 8px;
  position: absolute;
  white-space: nowrap; /* Ensure text doesn't wrap */
  border-radius: 0;
  border: 0px;
  margin: 0px;
  background-color: rgba(83, 180, 253, 0.83);
  color: #000;
  position: absolute;
  top: 0px;
  z-index: 11;
}
